# Ignore log files
*.log

# Ignore db-backups folder
/db-backups
/app/middleware_depr.go

# Ignore executable files
*.exe

# Ignore SSL files
*.crt
*.key
*.sh

#Ignore Go setup files
*.mod
*.sum

email.go