# Ignore log files
*.log

# Ignore db-backups folder
/db-backups

# Ignore executable files
*.exe

# Ignore SSL files
*.crt
*.key
*.sh

#Ignore Go setup files
*.mod
*.sum

/app/email.go
/db/ca
/db/postgres_jwtauth_setup.sql